<center>
<%= simple_form_for(@slot) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <%= image_tag ('/tables.png'), class: 'responsive' %>

    <br />
    <br />
    Selecciona una mesa
    <br />
    <br />


    <input type="hidden" value="<%= @slot.id %>" name="id">


	<% Table.all.each do |rt| %>
	  <label class="btn btn-primary slot_check <%= 'box3' if @slot.table_id != rt.id %> <%= 'reserved' if @slot.table_id == rt.id %>" for="slot_table_id_<%=rt.id%>">
	    <%= f.radio_button :table_id, rt.id %>
	    <span><%= rt.id %> <span style="font-size: 12px;"><%= 'RESERVADO' if @slot.table_id == rt.id %></span></span>
	  </label>
	<% end %>
    <br />
    <br />
    <br />

	<div class="form-actions">
	  <%= f.submit "Reserva", class: 'btn-submit box2' %>
	</div>
<% end %>

<%= link_to 'Back', root_path %>
</center>

<script type="text/javascript">
$(".slot_check").click(function(){
  $(".slot_check").removeClass('active');
  $(this).addClass('active');
});
</script>