<script>
  $("#modal-window").html("<%= escape_javascript(render 'modals/table') %>");
</script>

<div style="margin-top:20px"></div>

<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <br />
  <div style="position: relative">
    <div class="box2">
    <%= text_field_tag("reservation[date]", value = @reservation.date, html_options = { class: 'form-control datepicker', placeholder: 'Seleccione fecha' }) %>
    </div>
    <br />
    <br />

    <div class="box2">
      <%= text_field_tag("reservation[time]", value = @reservation.time&.strftime('%I:%M %p'), html_options = { class: 'form-control timepicker', placeholder: 'Seleccionar hora' }) %>
    </div>
  </div>  
    <br />
    <br />
    <center>
      <%= f.number_field :guest, placeholder: "¿Cuántos invitados?", class: 'box4' %>
    </center>
    <br />
    <br />

    <center>

          <%= link_to 'Seleccionar tabla', tables_path, {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'btn btn-primary box3 btn-group"'}  %>
      <div id="modal-window" class="modal" tabindex="-1" role="dialog" aria-labelledby="gridModalLabel" aria-hidden="true">


      <%= image_tag ('/tables.png'), class: 'responsive' %>

      <br />
      <br />
      <br />

      <% Table.all.each do |s| %>

        <div class="btn-group" data-toggle="buttons-radio" style="color:#fff;font-size:24px;padding-left:15px;padding-right:15px;">
          <%= s.id %><br />
          <%= f.radio_button("table_id", s.id) %>
        </div>
      <% end %>

      <br />
      <br />
      <br />

      <div class="form-actions">
        <%= f.submit "Reserva", class: 'btn-submit box2' %>
      </div>
    </center>

<% end %>
