<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">

    <%= text_field_tag(:date, value = nil, html_options = { class: 'form-control datepicker', placeholder: 'mm/dd/yyyy' }) %>

    <%= text_field_tag(:time, value = nil, html_options = { class: 'form-control timepicker', placeholder: 'time' }) %>
    

    Table:
    <select>
        <% Table.all.each do |table| %>
            <option value="<%= table.id %>"><%= table.number %></option>
        <% end %>
    </select>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
