<div style="margin-top:20px"></div>

<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


  <br />
  <br />
  <center>
    ¿Cuántos invitados?<br /><br />
    <%= f.number_field :guest, :value=>2, class: 'box4' %>
  </center>
  <br />
  <br />



  <div class="row">
    <div class="col-md-2 col-sm-2 col-xs-3">
      <table>
        <thead>
            <tr><th><div onclick="toggle_div('yes');">Today</div><br /><br /></th></tr>
        </thead>
        <div id="yes" style="display:none;">
          <% Slot.all.each do |sl| %>
            <tbody>
                <td>
                  <% if sl.date.to_date.today? %>
                  <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
                    <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
                    <span><%= sl.time.strftime('%H:%M') %></span>
                  </label>
                <% end %>
                </td>
            </tbody>
          <% end %>
        </div>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3">
      <table>
          <thead>
              <tr><th>Tomorrow<br /><br /></th></tr>
          </thead>
          <% Slot.all.each do |sl| %>
            <tbody>
                <td>
                  <% if sl.date.to_date.tomorrow %>
                  <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
                    <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
                    <span><%= sl.time.strftime('%H:%M') %></span>
                  </label>
                <% end %>
                </td>
            </tbody>
          <% end %>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3">
      <table>
          <thead>
              <tr><th><%= (Date.today + 2.days).strftime("%A") %><br /><br /></th></tr>
          </thead>
          <% Slot.all.each do |sl| %>
            <tbody>
                <td>
                  <% if sl.date.to_date == Date.today + 2.days %>
                  <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
                    <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
                    <span><%= sl.time.strftime('%H:%M') %></span>
                  </label>
                <% end %>
                </td>
            </tbody>
          <% end %>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3">
      <table>
          <thead>
              <tr><th><%= (Date.today + 3.days).strftime("%A") %><br /><br /></th></tr>
          </thead>
          <% Slot.all.each do |sl| %>
            <tbody>
                <td>
                  <% if sl.date.to_date == Date.today + 3.days %>
                  <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
                    <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
                    <span><%= sl.time.strftime('%H:%M') %></span>
                  </label>
                <% end %>
                </td>
            </tbody>
          <% end %>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3">
      <table>
          <thead>
              <tr><th><%= (Date.today + 4.days).strftime("%A") %><br /><br /></th></tr>
          </thead>
          <% Slot.all.each do |sl| %>
            <tbody>
                <td>
                  <% if sl.date.to_date == Date.today + 4.days %>
                  <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
                    <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
                    <span><%= sl.time.strftime('%H:%M') %></span>
                  </label>
                <% end %>
                </td>
            </tbody>
          <% end %>
      </table>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-3">
      <table>
          <thead>
              <tr><th><%= (Date.today + 5.days).strftime("%A") %><br /><br /></th></tr>
          </thead>
          <% Slot.all.each do |sl| %>
            <tbody>
                <td>
                  <% if sl.date.to_date == Date.today + 5.days %>
                  <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
                    <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
                    <span><%= sl.time.strftime('%H:%M') %></span>
                  </label>
                <% end %>
                </td>
            </tbody>
          <% end %>
      </table>
    </div>
  </div>
<% end %>
