<script> 
$(document).ready(function(){
    $('#day1').click(function(){
       $(".close2").not("#1").slideUp();
       $("#1").slideToggle("slow");
    });

    $('#day2').click(function(){
       $(".close2").not("#2").slideUp();
       $("#2").slideToggle("slow");
    });

    $('#day3').click(function(){
       $(".close2").not("#3").slideUp();
       $("#3").slideToggle("slow");
    });

    $("#day4").click(function(){
       $(".close2").not("#4").slideUp();
        $("#4").slideToggle("slow");
    });
    $("#day5").click(function(){
       $(".close2").not("#5").slideUp();
        $("#5").slideToggle("slow");
    });
    $("#day6").click(function(){
       $(".close2").not("#6").slideUp();
        $("#6").slideToggle("slow");
    });
    $("#day7").click(function(){
       $(".close2").not("#7").slideUp();
        $("#7").slideToggle("slow");
    });
    $("#day8").click(function(){
       $(".close2").not("#8").slideUp();
        $("#8").slideToggle("slow");
    });
    $("#day9").click(function(){
       $(".close2").not("#9").slideUp();
        $("#9").slideToggle("slow");
    });
});
</script>



<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <br />
  <br />
  <center>
    ¿Cuántos invitados?<br /><br />
    <%= f.number_field :guest, :value=>2, class: 'box4' %>
  </center>
  <br />
  <br />

  <center>
  <div class="ex1">  
    <table>
      <thead>
          <tr>
            <th id="item_direction" style="padding-right: 10px;"><span id="day1">Today</</th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day2">Tomorrow</th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day3"><%= (Date.today + 2.days).strftime("%b%m") %></th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day4"><%= (Date.today + 3.days).strftime("%b%m") %></th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day5"><%= (Date.today + 4.days).strftime("%b%m") %></th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day6"><%= (Date.today + 5.days).strftime("%b%m") %></th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day7"><%= (Date.today + 6.days).strftime("%b%m") %></th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day8"><%= (Date.today + 7.days).strftime("%b%m") %></th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day9"><%= (Date.today + 8.days).strftime("%b%m") %></th>
            <th id="item_direction" style="padding-right: 10px;"><span id="day10"><%= (Date.today + 9.days).strftime("%b%m") %></th>
          </tr>
      </thead>
    </table>
  </div>
  <div style="position: inline;margin-bottom: 25px;">
    <div style="float:left;"><</div>
    <div style="float:right;">></div>
  </div>

  <div id="1" class="close2">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date.today? %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday">Today</span>
        </label>
      <% end %>
    <% end %>
  </div>

  <div id="2" class="close2" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 1.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday" style="margin-left: -6px;">Tomorrow</span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="3" class="close2" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 2.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 2.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="4" class="close" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 3.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 3.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="5" class="close" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 4.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 4.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="6" class="close" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 5.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 5.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="7" class="close" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 6.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 6.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="8" class="close" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 7.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 7.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="9" class="close" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 8.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 8.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

  <div id="10" class="close" style="display: none;">
    <% Slot.all.each do |sl| %>
      <% if sl.date.to_date == Date.today + 9.days %>
        <label class="btn btn-primary box3" for="reservation_slot_id_<%=sl.id%>">
          <%= f.radio_button :slot_id, sl.id, onclick: "$(this).closest('form').submit();" %>
          <%= sl.time.strftime('%H:%M') %><br />
          <span class="weekday"><%= (Date.today + 9.days).strftime("%b %d") %></span>
        </label>
      <% end %>
    <% end %>
  </div>  

</center>

  
<% end %>
