<%= simple_form_for(@reservation) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <br />

    <%= text_field_tag(:date, value = nil, html_options = { class: 'form-control datepicker', placeholder: 'Velg en dato' }) %>

    <br />
    <br />

    <%= text_field_tag(:time, value = nil, html_options = { class: 'form-control timepicker', placeholder: 'Velg en tid' }) %>
    <br />
    <br />


    <span style="color:#fff;"> Bord:</span>
    <select class="form-control">
        <% Table.all.each do |table| %>
            <option value="<%= table.id %>"><%= table.number %></option>
        <% end %>
    </select>
  </div>
    <br />
    <br />

  <div class="form-actions">
    <%= f.submit "Reservér", class: 'btn btn-primary' %>
  </div>
<% end %>
