<p id="notice"><%= notice %></p>

<table class="table table-striped grey-text backend">
  <thead>
    <tr>
      <th><%= I18n.t 'reserveddate' %></th>
      <th><%= I18n.t 'reservedtime' %></th>
      <th><%= I18n.t 'reservedguests' %></th>
      <th><%= I18n.t 'reservedtable' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.slot.date.to_date.today? and reservation.slot.table_id != nil %>
        <td class="today">
          <%= I18n.t 'today' %></td>
        <td class="today">
          <%= reservation.slot.time.strftime('%H:%M') %></td>
        <td class="today">
          <%= reservation.guest %></td>
        <td class="today">
          <%= reservation.slot.table_id %></td>
        <td class="today">
          <%= string_with_link(t('show'), reservation) %></td>
        <td class="today">
          <%= string_with_link(t('edit'), edit_reservation_path(reservation)) %></td>
        <td class="today">
          <%= string_with_link(t('delete'), reservation, method: :delete, data: { confirm: 'Are you sure? This can not be undone.' }) %></td>
          <% end %>
      </tr>
    <% end %>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.slot.date.to_date.future? and reservation.slot.table_id != nil %>
        <td class="future">
          <%= l reservation.slot.date, format: '%A %d/%m' %></td>
        <td class="future">
          <%= reservation.slot.time.strftime('%H:%M') %></td>
        <td class="future">
          <%= reservation.guest %></td>
        <td class="future">
          <%= reservation.slot.table_id %></td>
        <td class="future">
          <%= string_with_link(t('show'), reservation) %></td>
        <td class="future">
          <%= string_with_link(t('edit'), edit_reservation_path(reservation)) %></td>
        <td class="future">
          <%= string_with_link(t('delete'), reservation, method: :delete, data: { confirm: 'Are you sure? This can not be undone.' }) %></td>
          <% end %>
      </tr>
    <% end %>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.slot.date.to_date.past? and reservation.slot.table_id != nil %>
        <td class="past">
          <%= l reservation.slot.date, format: '%A %d/%m' %></td>
        <td class="past">
          <%= reservation.slot.time.strftime('%H:%M') %></td>
        <td class="past">
          <%= reservation.guest %></td>
        <td class="past">
          <%= reservation.slot.table_id %></td>
        <td class="past">
          <%= string_with_link(t('show'), reservation) %></td>
        <td class="past">
          <%= string_with_link(t('edit'), edit_reservation_path(reservation)) %></td>
        <td class="past">
          <%= string_with_link(t('delete'), reservation, method: :delete, data: { confirm: 'Are you sure? This can not be undone.' }) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-parent">
    <div class="paginate">
        <%= paginate @reservations %>
    </div>
</div>


<%= string_with_link(t('newreservation'), new_reservation_path) %>

<br>
<hr>
<h2 style="color:#1c1c1c;font-weight:700 !important;padding-top:20px;"><%= I18n.t 'uncompleted' %></h2>
<br>
<table class="table table-striped grey-text backend">
  <thead>
    <tr>
      <th><%= I18n.t 'reserveddate' %></th>
      <th><%= I18n.t 'reservedtime' %></th>
      <th><%= I18n.t 'reservedguests' %></th>
      <th><%= I18n.t 'reservedtable' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.slot.date.to_date.today? and reservation.slot.table_id.nil? %>
        <td class="today">
          <%= I18n.t 'today' %></td>
        <td class="today">
          <%= reservation.slot.time.strftime('%H:%M') %></td>
        <td class="today">
          <%= reservation.guest %></td>
        <td class="today">
          <%= reservation.slot.table_id %></td>
        <td class="today">
          <%= string_with_link(t('show'), reservation) %></td>
        <td class="today">
          <%= string_with_link(t('edit'), edit_reservation_path(reservation)) %></td>
        <td class="today">
          <%= string_with_link(t('delete'), reservation, method: :delete, data: { confirm: 'Are you sure? This can not be undone.' }) %></td>
          <% end %>
      </tr>
    <% end %>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.slot.date.to_date.future? and reservation.slot.table_id.nil? %>
        <td class="future">
          <%= l reservation.slot.date, format: '%A %d/%m' %>
          </td>
        <td class="future">
          <%= reservation.slot.time.strftime('%H:%M') %></td>
        <td class="future">
          <%= reservation.guest %></td>
        <td class="future">
          <%= reservation.slot.table_id %></td>
        <td class="future">
          <%= string_with_link(t('show'), reservation) %></td>
        <td class="future">
          <%= string_with_link(t('edit'), edit_reservation_path(reservation)) %></td>
        <td class="future">
          <%= string_with_link(t('delete'), reservation, method: :delete, data: { confirm: 'Are you sure? This can not be undone.' }) %></td>
          <% end %>
      </tr>
    <% end %>
    <% @reservations.each do |reservation| %>
      <tr>
        <% if reservation.slot.date.to_date.past? and reservation.slot.table_id.nil? %>
        <td class="past">
          <%= l reservation.slot.date, format: '%A %d/%m' %></td>
        <td class="past">
          <%= reservation.slot.time.strftime('%H:%M') %></td>
        <td class="past">
          <%= reservation.guest %></td>
        <td class="past">
          <%= reservation.slot.table_id %></td>
        <td class="past">
          <%= string_with_link(t('show'), reservation) %></td>
        <td class="past">
          <%= string_with_link(t('edit'), edit_reservation_path(reservation)) %></td>
        <td class="past">
          <%= string_with_link(t('delete'), reservation, method: :delete, data: { confirm: 'Are you sure? This can not be undone.' }) %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="paginate-parent">
    <div class="paginate">
        <%= paginate @reservations %>
    </div>
</div>


<br>
