<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @reservation.time.strftime('%H:%M') %>
</p>

<p>
  <strong>Mesa:</strong>
  <%= @reservation.table.number %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
