<p id="notice"><%= notice %></p>

<p>
  <strong>Starts at:</strong>
  <%= @dinner.starts_at %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @dinner.ends_at %>
</p>

<%= link_to 'Edit', edit_dinner_path(@dinner) %> |
<%= link_to 'Back', dinners_path %>
